body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
.contenedor {
    width: 400px;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px gray;
}
h2 { text-align: center; }
input, select {
    width: 100%;
    padding: 8px;
    margin: 6px 0 12px;
    box-sizing: border-box; /* Importante para que no se salga del cuadro */
}
.error {
    color: red;
    font-size: 13px;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}